@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

img.avatar {
  border: 2px solid white;
  border-radius: 50%;
}

.avatar {
  animation: fadeInScale 0.8s ease-out;
}
