/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

.social-links {
  margin-bottom: 2rem;
}

/* Brand Icons */
.icon {
  margin-right: 8px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;
  object-fit: contain;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #2457F5;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}




/* YouTube */
.button.button-youtube {
  color: #ffffff;
  background-color: #ff0000;
  text-decoration: none;
}
.button.button-youtube:hover {
  opacity: 0.85;
}

.button-youtube-chanel {
  margin-top: 1rem;
}

/* TikTok */
.button.button-tiktok {
  color: #FFFFFF;
  background-color: #000000;
}
.button.button-tiktok:hover,
.button.button-tiktok:focus {
  filter: brightness(90%);
}
